button {
	border: 0;
	background-color: #163085;
	color: #ffffff;
	text-align: center;
	outline: none;
	appearance: none;
	transition-duration: 500ms;
	transition-property: background-color, color;
	padding: .5rem 4rem;
	border-radius: 4rem;
	font-weight: 600;
}

button:hover {
	background-color: #acadac;
	color: #000000;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	cursor: default;
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
}